* {
  font-size: 1.05em;
}
.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0b65ed;
}
.login div:first-child {
  height: 20vh;
  width: 100%;
  background-color: #0b65ed;
  border-radius: 0% 0% 100% 0%;
}

.login .page-content {
  height: 74vh;
}

.login .page-content h1 {
  text-align: center;
  margin-top: 7vh;
  font-size: 2em;
  font-weight: 750;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  justify-content: center;
  height: 50vh;
}

.login form input {
  border: 2px solid #0b65ed;
  border-radius: 5px;
  padding: 7px;
}

.login form input:focus {
  outline: none;
}

.login form button {
  border: 2px solid #0b65ed;
  border-radius: 5px;
  padding: 7px 20px;
  background-color: #0b65ed;
  color: white;
  font-weight: bold;
}

.login .brand {
  color: #0b65ed;
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 4vh;
}

.login-link {
  text-decoration: none;
  color: #0b65ed;
}

.login-link span {
  font-weight: bold;
}
